@import 'reset';
@import './variables/global';
@import './themes/normal';
@import './themes/dark';

.body {
  * {
    font-family: var(--font-family-main);
    font: var(--font-m);
    color: var(--primary-color);
  }
}

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
  min-width: 100vw;
}

.content-page {
  display: flex;
  flex-direction: row;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
