.button {
  cursor: pointer;
  color: var(--primary-color);
  padding: 6px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.clearInverted {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  color: var(--inverted-primary-color);
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--inverted-bg-color);
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--bg-color);
}

.square {
  &.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
  }

  &.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
  }

  &.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
  }
}

.size_m {
  font: var(--font-line-m);
}

.size_l {
  font: var(--font-line-l);
}

.size_xl {
  font: var(--font-line-xl);
}

.disabled {
  opacity: 0.5;
}
