.InputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  margin-right: 5px;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
  color: transparent;
  text-shadow: 0 0 0 var(--primary-color);

  &:focus {
    outline: none;
  }
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  position: absolute;
  height: 3px;
  width: 9px;
  background: var(--primary-color);
  bottom: 0;
  left: 0;
  animation: blink 1s forwards infinite;
}

.readOnly {
  opacity: 0.7;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
